
<footer class="content-wrapper" aria-label="Footer Section">
  <section class="center fa-3x e8e8f2">
    <a href="http://linkedin.com/in/amal-benny" aria-label="Visit my LinkedIn Profile"><i class="fa-brands fa-linkedin"></i></a>
    <a href="http://instagram.com/amalb1883" aria-label="Visit my Insta Profile"><i class="fa-brands fa-instagram"></i></a>
    <a href="http://github.com/amalbenny" aria-label="Visit my GitHub Profile"><i class="fa-brands fa-github"></i></a>
  </section>
  <section class="center" style="font-weight: normal;">
    <a href="https://alyod.tech/contacts/#privacy">Privacy Policy</a>
    &nbsp; | &nbsp;
    <a href="https://alyod.tech/about">About</a>
  </section>
<script src="/assets/script/script.js"></script>
</footer>
