<nav class="navbar">
<a href="/">
    <i class="fa-house fa-solid"></i> &Tab;Home 
</a>
<a href="/projects">   
    <i class="fa-list-check fa-solid"></i> &Tab;Projects 
</a>
<a href="/about">
    <i class="fa-solid fa-user-tie"></i> &Tab;About 
</a>
<a href="/contacts">
    <i class="fa-solid fa-address-card"></i> &Tab;Contacts 
</a>
<a href="/treemap">
    <i class="fa-solid fa-folder-tree"></i> &Tab;Treemap
</a>
<a href="javascript:void(0);" class="icon" >
    <i class="fa-bars fa-solid"></i>
</a>
</nav>