    ---
    ---
    html {
        scroll-behavior: smooth;
    }
    body{
        line-height: 1.6;
        font-size: 16px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1.5px;
        background: radial-gradient( 1200px 600px at 80% -10%,rgba(139, 92, 246, 0.25), transparent),
                    radial-gradient(1200px 800px at 10% 110%,rgba(34, 211, 238, 0.225), transparent), #0b0b10;
        background-attachment: fixed;
        color:#e8e8f2;
    }
    img {
        max-width: 100%;
        display: block;
    }
    a {
        color: orange;
        text-decoration: none;
    }

/*Content Section*/
    .content-wrapper{
        max-width: 900px;
        margin-top: 7.5rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        box-sizing: border-box;
    }
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .row{
        display:flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }
/* Create 4 Columns next to each other*/
    .column{
        flex: 33;
        max-width:33%;
        padding: 0 50px;
    }
    .column .icon{
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }
    @media screen and (max-width:800px){
        .column{
            flex: 50%;
            max-width: 50%;
        }
    }
    @media screen and (max-width:600px){
        .column{
            flex: 100%;
            max-width: 100%;
        }
    }
