---
---
/* Major CSS properties */
    html {
        scroll-behavior: smooth;

    }

    body{
        line-height: 1.6;
        font-size: 16px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1.5px;
        background: radial-gradient( 1200px 600px at 80% -10%,rgba(139, 92, 246, 0.25), transparent),
                    radial-gradient(1200px 800px at 10% 110%,rgba(34, 211, 238, 0.225), transparent), #0b0b10;
        background-attachment: fixed;
        color:#e8e8f2;

    }

    img {
        max-width: 100%;
        display: block;

    }

    a {
        color: #e8e8f2;
        text-decoration: none;
        font-weight: bold;

    }

    p {
        text-indent: 0.5in; /* Sets a half-inch indentation for the first line of all paragraphs */

    }

/*Content Section*/
    .content-wrapper{
        max-width: 900px;
        margin-top: 7.5rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        box-sizing: border-box;

    }

    .center{
        justify-items: center;
        align-items: center;
        text-align: center;

    }

/* Stylized Button */
    .button-63 {
      align-items: center;
      background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
      border: 0;
      border-radius: 8px;
      box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
      box-sizing: border-box;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      line-height: 1em;
      padding: 5px;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      cursor: pointer;
      
    }
    
    .button-63:active,
    .button-63:hover {
      outline: 0;
      
    }

/* Create 3 Columns next to each other*/
    .grid-wrapper-list-3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;

    }
    
    @media screen and (max-width:800px){
        .grid-wrapper-list-3{
            grid-template-columns: 1fr 1fr;

        }
    }
    @media screen and (max-width:600px){
        .grid-wrapper-list-3{
            grid-template-columns: 1fr;

        }
    }
