---
---
/* Major CSS properties */
    html {
        scroll-behavior: smooth;
    }
    body{
        line-height: 1.6;
        font-size: 16px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1.5px;
        background: radial-gradient( 1200px 600px at 80% -10%,rgba(139, 92, 246, 0.25), transparent),
                    radial-gradient(1200px 800px at 10% 110%,rgba(34, 211, 238, 0.225), transparent), #0b0b10;
        background-attachment: fixed;
        color:#e8e8f2;
    }
    img {
        max-width: 100%;
        display: block;
    }
    a {
        color: #e8e8f2;
        text-decoration: none;
        font-weight: bold;
    }

/*Content Section*/
    .content-wrapper{
        max-width: 900px;
        margin-top: 7.5rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        box-sizing: border-box;
    }
    .center{
        justify-items: center;
        align-items: center;
        text-align: center;
    }
/* Create 4 Columns next to each other*/
    .grid-wrapper-list-3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
    }
    @media screen and (max-width:800px){
        .grid-wrapper-list-3{
            grid-template-columns: 1fr 1fr;
        }
    }
    @media screen and (max-width:600px){
        .grid-wrapper-list-3{
            grid-template-columns: 1fr;
        }
    }
