---
layout: base
---
<div class="card center">
    <div class="row fa-8x">
        <div class="column">
            <i class="fa-solid fa-user-tie"></i><i class="fa-solid fa-address-card"></i><i class="fa-solid fa-list-check"></i>
        </div>
        <div class="column">
            <i class="fa-solid fa-pen-nib"></i><i class="fa-solid fa-images"></i><i class="fa-solid fa-flask"></i>
        </div>
        <div class="column">
            <i class="fa-solid fa-file-lines"></i><i class="fa-solid fa-gears"></i><i class="fa-solid fa-trophy"></i>
        </div>
    </div>
</div>
<style>

</style>